.App {
  text-align: center;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
*/

.App-header {
  background-color: #222;
  height: 56px;
  padding: 20px;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header-navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
}

.header-navigation-items a: {
  color: white;
  text-decoration: none;
}

.header-navigation-items a:hover,
.header-navigation-items a:active {
  color: #fa923f;
}


/*remove bullet points from list of venues*/
ul {
  list-style-type: none;
}

.places-list {
  text-align: left;
}
/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
